{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>入店報告</title>
    <link rel="stylesheet" href="{% static 'kintai/style.css' %}">
</head>
<body>
    <header>
        <h1>入店報告</h1>
    </header>

    <main>
        <div class="welcome-message">
            <p>{{ user.username }}さん、入店報告をしてください。</p>
        </div>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div id="image-preview-container" class="photo-container">
                <img id="preview-image" src="{% static 'kintai/images/no_image.svg' %}" alt="No Image" style="width: 200px; height: 150px; object-fit: contain;">
            </div>

            <input type="file" accept="image/*" id="photo-upload-input" name="upload_img" capture="user" style="display: none;">
            
            <div class="button-group">
                <label for="photo-upload-input" class="action-button">写真撮影</label>
                
                <button type="submit" class="action-button">報告</button>
            </div>
        </form>
        </main>

    <script src="{% static 'kintai/script.js' %}"></script>
</body>
</html>